ErrorDocument 400 "400 Bad Request | The request cannot be fulfilled due to bad syntax"
ErrorDocument 401 "401 Unauthorized | The request was a legal request, but the server is refusing to respond to it. For use when authentication is possible but has failed or not yet been provided"
ErrorDocument 402 "402 Payment Required | Reserved for future use"
ErrorDocument 403 "403 Bad Request | The request was a legal request, but the server is refusing to respond to it"
ErrorDocument 404 "404 Not Found | The requested page could not be found but may be available again in the future"
ErrorDocument 405 "405 Method Not Allowed | A request was made of a page using a request method not supported by that page"
ErrorDocument 406 "406 Not Acceptable | The server can only generate a response that is not accepted by the client"
ErrorDocument 407 "407 Proxy Authentication Required | The client must first authenticate itself with the proxy"
ErrorDocument 408 "408 Request Timeout | The server timed out waiting for the request"
ErrorDocument 409 "409 Conflict | The request could not be completed because of a conflict in the request"
ErrorDocument 410 "410 Gone | The requested page is no longer available"
ErrorDocument 412 "412 Precondition Failed | The precondition given in the request evaluated to false by the server"
ErrorDocument 413 "413 Request Entity Too Large | The server will not accept the request, because the request entity is too large"
ErrorDocument 414 "414 Request-URI Too Long | The server will not accept the request, because the URL is too long. Occurs when you convert a POST request to a GET request with a long query information "
ErrorDocument 415 "415 Unsupported Media Type	 | The server will not accept the request, because the media type is not supported "
ErrorDocument 416 "416 Requested Range Not Satisfiable	 | The client has asked for a portion of the file, but the server cannot supply that portion"
ErrorDocument 417 "417 Expectation Failed | The server cannot meet the requirements of the Expect request-header field"
ErrorDocument 500 "500 Internal Server Error"
ErrorDocument 501 "501 Not Implemented | The server either does not recognize the request method, or it lacks the ability to fulfill the request"
ErrorDocument 502 "502 Bad Gateway | The server was acting as a gateway or proxy and received an invalid response from the upstream server"
ErrorDocument 503 "503 Service Unavailable"
ErrorDocument 504 "504 Gateway Timeout | The server was acting as a gateway or proxy and did not receive a timely response from the upstream server"
ErrorDocument 505 "505 HTTP Version Not Supported	| The server does not support the HTTP protocol version used in the request"
ErrorDocument 511 "511 Network Authentication Required | The client needs to authenticate to gain network access"
Options -Indexes
