
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font:normal 75% Arial, Helvetica, sans-serif;
}

table > tbody > tr:hover {
  background: rgba(25, 25, 25, .6) !important;
}

canvas {
  display: block;
  vertical-align: bottom;
}

table {
  color:white;
  font-size:20px;
}

.g-recaptcha {
  margin-left: 50%;
  margin-right: 50%;
  z-index: 4000;
}

#achievement-link{
 padding:5px;
 font-family:'VT323';
 color: white;
 font-size:18px;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6) !important;
   border-radius: 25px;
}

#sponsor-text{
  font-family:'VT323';
  color:white;
  font-size:35px;
  background-color: transparent !important;
}

#flag-msg{
  font-family:'VT323';
  color:white;
  font-size:18px;
  margin-left:10px;
  background-color: transparent !important;
}

#sponsor-logo{
  margin:20px;
  width:250px;
}

#sponsor-logo-min{
  margin:15px;
  width:150px;
}


.modal, .modal-footer {
  color:white;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6) !important;
}

.ctf-txt-done{
  text-decoration: line-through !important;
}
.ctf-ship-grey{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.ctf-ship{
  cursor: pointer;
  width:50px;
}

.ctf-ship-text{
  color:white;
  font-family: 'VT323';
  font-size: 20px;
  background-color: transparent !important;
}

#ctf-points{
  color:white;
  font-family: 'VT323';
  font-size: 20px;
  margin-left: 15px;
  background-color: transparent !important;
}

.ctf-msg-single{
  color:white;
  font-family: 'VT323';
  font-size: 20px;
  margin-left: 15px;
  background-color: transparent !important;
}
.top-menu-choice{
  color:white;
  font-family: 'VT323';
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
  background-color: transparent !important;
}

caret {
  color:white;
}

.input.select-dropdown {
  color:#9e9e9e;
  background-color: #1A1A1A;
}

.input.dropdown-content {
  color:#9e9e9e;
  background-color: #1A1A1A;
}

.input.dropdown-content:active {
  color:#9e9e9e;
  background-color: #1A1A1A;
}

.select-dropdown:active {
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
  color:#9e9e9e !important;
}

li > span {
  color:#9e9e9e;
  background-color: #1A1A1A;
}


.select-dropdown.active {
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
  color:#9e9e9e !important;
}

.select-dropdown {
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
  color:#9e9e9e !important;
}

li {
  color:#9e9e9e;
  background-color: #1A1A1A;
}

#flag-msg{
  font-family:'VT323';
  color:white;
  font-size:18px;
  margin-left:10px;
  background-color: transparent !important;
}

#reg-msg{
  font-size:15px;
  color:#9e9e9e;
  margin-top:10px;
  margin-right:2px;
}

#login-msg{
  font-size:15px;
  color:#9e9e9e;
  margin-top:10px;
  margin-right:2px;
}

option {
  color:#9e9e9e;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
}

input {
  color:#9e9e9e;
    background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
}


.ctf-msg {
  padding-top:10px;
  /*background-color: #1A1A1A;*/
  border: 1px solid #616161;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
  margin-top:50px;
  min-height:500px;
  padding-bottom:25px;
}

.ctf-form {
  width:800px;
  height:100%;
  padding-top:5px;
  /*background-color: #1A1A1A;*/
  border: 1px solid #616161;
  background: rgb(25, 25, 25);
  background: rgba(25, 25, 25, .6);
}

#borderimg {
    border: 5px solid transparent;
    padding: 0px;
    border-color: white;
    -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
    border-image: url(border.png) 30 round;
    margin-bottom:10px;
}

#fp-nav ul li a span{
  background: white !important;
  background-color: white !important;
}

.fp-slidesNav ul li a span {
  background: white !important;
}
.ctf-text{
  font-family:'VT323';
  color:white;
  font-size:22px;
  margin-left:10px;
}

#logo {
  width:25px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #161616;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index:-1;
}

#menu {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #051f2d;
}


/**
 *  This element is created inside your target element
 *  It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;

}

/**
 *  This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *  Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
}

/**
 *  Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}

.time_circles .textDiv_Days,
.textDiv_Hours,
.textDiv_Minutes,
.textDiv_Seconds {
  color: #60686F;
}
